img { margin: auto;}

@import url('https://fonts.googleapis.com/css2? family=Permanent+Marker&display=swap');
p{
    margin-top: 80px;
    padding: 0;
    font-family: 'Gloria Hallelujah', cursive;
    text-align: center;
    font-size: 23px;
    text-shadow: 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.247);
    color:#CD104D; 
    font-weight: 700;
    span{
        color:#9e1641cc; 
    }
}
.animate__animated {
    --animate-duration: 1.3s;
  }

#logo{
    animation-delay: 1.5s;

}




