.footer{
    background-color: rgba(214, 97, 29, 0.973);
    padding: 0.5em 0;
    text-align: center;
    margin-top: auto;
    position: fixed;
    width: 100%;
    height: 5%;
    bottom: 0;
}
body, .modal{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.modal{
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    transition: all 500ms ease;
    animation: modal 2s;
    animation-fill-mode: forwards;
    opacity: 0;
    visibility: hidden;
  }
  
  #btn-modal:checked ~ .modal{
    opacity: 1;
    visibility: visible;
    animation: modal 2s;
    visibility:hidden;
    opacity:0;
  }
  
  #btn-modal:checked ~ .modal .contenedor{
  display:none;
  }
  .contenedor{
    width: 300px;
    height: 120px;
    margin: auto;
    background:  #fff;
    box-shadow: 1px 7px 25px rgba(0,0,0,0.6);
    transition: all 500ms ease;
    position: relative;
  }
  .contenedor header{
    padding:10px;
    background: #db8046;
    color: rgb(255, 255, 255);
    text-align: center;
  }
 
  .contenedor label{
    position: absolute;
    top: 65px;
    right: 170px;
    cursor: pointer;
    border: 1px solid #070708; /*anchura, estilo y color borde*/
    padding: 10px; /*espacio alrededor texto*/
    background-color: #db8046; /*color botón*/
    color: #ffffff; /*color texto*/
    text-decoration: none; /*decoración texto*/
    text-transform: uppercase; /*capitalización texto*/
    font-family: 'Helvetica', sans-serif; /*tipografía texto*/
   border-bottom: 50px; /*bordes redondos*/
   border-radius: 5px;
   width: 50px;
   :hover {
    background-color:#0c0601
   }

  
  }

  .contenedor a{
  position: absolute;
  top: 65px;
  right: 80px;
  align-items: center;
  justify-content: center;
  border: 1px solid #000000; /*anchura, estilo y color borde*/
  padding: 10px; /*espacio alrededor texto*/
  background-color: #db8046; /*color botón*/
  color: #ffffff; /*color texto*/
  text-decoration: none; /*decoración texto*/
  text-transform: uppercase; /*capitalización texto*/
  font-family: 'Helvetica', sans-serif; /*tipografía texto*/
  border-bottom: 50px; /*bordes redondos*/
  border-radius: 5px;
  width: 50px;  
  }

 a :hover {
    color:#ff0505
   }
  #lbl-modal{
    display: none;
  }
  .lbl_modal{
    background: #fff;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  
  @keyframes modal{
    100%{
      visibility: visible;
      opacity:1;
    }
  }

body, .modal{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.modal{
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    transition: all 500ms ease;
    animation: modal 2s;
    animation-fill-mode: forwards;
    opacity: 0;
    visibility: hidden;
  }
  
  #btn-modal:checked ~ .modal{
    opacity: 1;
    visibility: visible;
    animation: modal 2s;
    visibility:hidden;
    opacity:0;
  }
  
  #btn-modal:checked ~ .modal .contenedor{
  display:none;
  }
  .contenedor{
    width: 300px;
    height: 120px;
    margin: auto;
    background:  #fff;
    box-shadow: 1px 7px 25px rgba(0,0,0,0.6);
    transition: all 500ms ease;
    position: relative;
  }
  .contenedor header{
    padding:10px;
    background: #db8046;
    color: rgb(255, 255, 255);
    text-align: center;
  }
 
  .contenedor label{
    position: absolute;
    top: 65px;
    right: 170px;
    cursor: pointer;
    border: 1px solid #070708; /*anchura, estilo y color borde*/
    padding: 10px; /*espacio alrededor texto*/
    background-color: #db8046; /*color botón*/
    color: #ffffff; /*color texto*/
    text-decoration: none; /*decoración texto*/
    text-transform: uppercase; /*capitalización texto*/
    font-family: 'Helvetica', sans-serif; /*tipografía texto*/
   border-bottom: 50px; /*bordes redondos*/
   border-radius: 5px;
   width: 50px;
   :hover {
    background-color:#0c0601
   }

  
  }

  .contenedor a{
  position: absolute;
  top: 65px;
  right: 80px;
  align-items: center;
  justify-content: center;
  border: 1px solid #000000; /*anchura, estilo y color borde*/
  padding: 10px; /*espacio alrededor texto*/
  background-color: #db8046; /*color botón*/
  color: #ffffff; /*color texto*/
  text-decoration: none; /*decoración texto*/
  text-transform: uppercase; /*capitalización texto*/
  font-family: 'Helvetica', sans-serif; /*tipografía texto*/
  border-bottom: 50px; /*bordes redondos*/
  border-radius: 5px;
  width: 50px;  
  }

 a :hover {
    color:#ff0505
   }
  #lbl-modal{
    display: none;
  }
  .lbl_modal{
    background: #fff;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  
  @keyframes modal{
    100%{
      visibility: visible;
      opacity:1;
    }
  }

