<body>
<footer class="footer">
    <div class="container">
        <p class="text-white">
            &copy; Artisan Beers
        </p>
    </div>
    
    <input type="checkbox" id="btn-modal">
    <label for="btn-modal" class="lbl-modal">Advertencia</label> 
    <div class="modal">
        <div class="contenedor">
              <header>¿Eres mayor de 18 años?</header>
            <div class="contenido">
              <label type="button" for="btn-modal"> SI </label> 
            
              <a href="https://www.bebesymas.com/recursos-en-la-web/las-webs-de-dora-la-exploradora">NO</a>
            </div>
            
        </div>
    </div>
    
</footer>
</body>



