<div class="navbar">
  <div class="cards">
    <a [routerLink]="['/home']">
      <span>Inicio</span>
    </a>
    <a [routerLink]="['/product-list']">
      <span>Cervezas</span>
    </a>
    <a [routerLink]="['/about']">
      <span>Sobre Nosotros</span>
    </a>
    <a [routerLink]="['/contact']">
      <span>Contacto</span>
    </a>
  </div>
  <div class ="iconography">
    <a [routerLink]="">
      <i class="fa-solid fa-user"></i>
    </a>
    <a [routerLink]="">
      <i class="fa-solid fa-cart-shopping"></i>
    </a>
  </div>
</div>



