<div class="navbar">
  <div class="cards">
    <a [routerLink]="['/home']">
      <span>Inicio</span>
    </a>
    <a [routerLink]="['/shop']">
      <span>Cervezas</span>
    </a>
    <a [routerLink]="['/about']">
      <span>Sobre Nosotros</span>
    </a>
    <a [routerLink]="['/contact']">
      <span>Contacto</span>
    </a>
  </div>
  <div class ="iconography">
    <a [routerLink]="['/login']">
      <span>Login</span>
    </a>
    <a [routerLink]="['/register']">
      <span>Registrarse</span>
    </a>
    <a [routerLink]="['/user']">
      <i class="fa-solid fa-user"></i>
    </a>
    <a [routerLink]="['/cart']">
      <i class="fa-solid fa-cart-shopping"></i>
    </a>
  </div>
</div>



