<div class="home-container">
    <h1 class="header">Cervezas</h1>
</div>
<div class="news">
    <div>
        <h1 class="subheader">Elige tus cervezas favoritas</h1>
    </div>
    <div>
        <h1 class="subheader" id="buttonTipos">Tipos de cervezas</h1>
    </div>
</div>
<div id="tipoCerveza">
    <div class="imagenTipo">
        <img class="imagen" src="/assets/images/corona.png">
    </div>
    <div class="imagenTipo">
        <img class="imagen" src="/assets/images/heineken.png">
    </div>
    <div class="imagenTipo">
        <img class="imagen" src="/assets/images/sol.png">
    </div>
</div>
<div class="separador">
</div>
<div class="sugerencias">
    <div class="columnaIzquierda">
        <img id="imagenSeleccion" src="/assets/images/rubia.jpg">
        <p class="descripcion">Descripción</p>
        <div>
            <h1 class="subheader" id="buttonTipos">COMPRAR</h1>
        </div>
    </div>
    <div class="columnaCentral">
        <div class="sugerencia">
            <img id="imagenSugerencia" src="/assets/images/tostada.jpg">
            <div id="informacion">
                <p class="nombreProducto">Nombre Producto</p>
                <p class="puntuacion">Puntuación</p>
                <p class="puntuacion">Precio</p>
            </div>
        </div>
        <div class="sugerencia">
            <img id="imagenSugerencia" src="/assets/images/rubia.jpg">
            <div id="informacion">
                <p class="nombreProducto">Nombre Producto</p>
                <p class="puntuacion">Puntuación</p>
                <p class="puntuacion">Precio</p>
            </div>
        </div>
        <div class="sugerencia">
            <img id="imagenSugerencia" src="/assets/images/negra.jpg">
            <div id="informacion">
                <p class="nombreProducto">Nombre Producto</p>
                <p class="puntuacion">Puntuación</p>
                <p class="puntuacion">Precio</p>
            </div>
        </div>
    </div>
    <div class="columnaDerecha">
        <div class="sugerencia">
            <img id="imagenSugerencia" src="/assets/images/rubia.jpg">
            <div id="informacion">
                <p class="nombreProducto">Nombre Producto</p>
                <p class="puntuacion">Puntuación</p>
                <p class="puntuacion">Precio</p>
            </div>
        </div>
        <div class="sugerencia">
            <img id="imagenSugerencia" src="/assets/images/tostada.jpg">
            <div id="informacion">
                <p class="nombreProducto">Nombre Producto</p>
                <p class="puntuacion">Puntuación</p>
                <p class="puntuacion">Precio</p>
            </div>
        </div>
        <div class="sugerencia">
            <img id="imagenSugerencia" src="/assets/images/negra.jpg">
            <div id="informacion">
                <p class="nombreProducto">Nombre Producto</p>
                <p class="puntuacion">Puntuación</p>
                <p class="puntuacion">Precio</p>
            </div>
        </div>
    </div>
</div>
