body{
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
}

#logo{
    margin-left: 10px;
    justify-content: center;
}

.home-container{
    text-align: center;
    height: 100px;
}
    
.header{
    color: orangered;
    font-size: 50px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
 #logo{
    animation-delay: 1s;
 }

.news{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 50px;

}

.dropdown{
    display: inline-block;
    position: relative;
}

.dropdown-content{
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
    background-color: #FFFFFF;
    border-radius: 10px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
    border-radius: 10px;
}

.dropdown-content a:hover {
    color: #FFFFFF;
    background-color: #00A4BD;
    border-radius: 10px;    
}

.subheader{
    color: rgb(169, 34, 0);
    font-size: 20px;
    height: 30px;
    width: 250px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

#buttonTipos{
    display: none;
    position: absolute;
    width: 100%;
    padding:4;
    transition: 500ms;
}

.imagenTipo{
    display: flex;
    align-items: center;
    height: 220px;
    width: 170px;
    transition: transform 0.2s;
}

.imagenTipo:hover{
    transform: scale(1.20);
}

.imagen{
    height: 200px;
    width: 160px;
    object-fit: cover;
    width: 160px;
    object-fit: cover;
    background-position-x: center;
}

.separador{
    margin-top: 40px;
    border-top: 1px rgb(147, 147, 147) solid;;
    margin-bottom: 20px;
}

.columnas{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.columnas{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.sugerencias{
    display: flex;
    width: 33%;
}

.tarjeta{
    display: flex;
    width: 33%;
}

.tarjeta{
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    height: 220px;
    border: 2px solid rgb(147, 147, 147);
    background-color: white;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 10px 5px 5px rgb(210, 209, 209);
    transition: transform 0.2s;
}

.ribbon {
  position: absolute;
  right: -5px; top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px; height: 75px;
  text-align: right;
}
.ribbon span {
  font-size: 10px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 100px;
  display: block;
  background: #79A70A;
  background: linear-gradient(#F70505 0%, #8F0808 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px; right: -21px;
}
.ribbon span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid #8F0808;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #8F0808;
}
.ribbon span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #8F0808;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #8F0808;
}

.tarjeta:hover {
    box-shadow: 0 4px 16px rgb(79, 79, 79);
    transform: scale(1.02);
}

#imagenSugerencia{
    box-shadow: 10px 5px 5px rgb(210, 209, 209);
}

.details{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    height: 300px;
    width: 300px;
}

.name{
    margin: 10px;
    height: 40px;
    width: 280px;
}

.description{
    overflow: hidden;
    position: relative;
    line-height: 1.2em;
    max-height: 2.5em;
    text-align: justify;
    margin-right: -1em;
    padding-right: 1em;
    align-content: space-between;
    height: 300px;
    width: 300px;
}

.name{
    margin: 10px;
    height: 40px;
    width: 280px;
}

.description{
    overflow: hidden;
    position: relative;
    line-height: 1.2em;
    max-height: 2.5em;
    text-align: justify;
    margin-right: -1em;
    padding-right: 1em;
    margin-left: 10px;
    width: 280px;
  }
  .description:before {
    content: '....';
    position: absolute;
    right: 0;
    bottom: 0;
  }
  .description:after {
    content: '';
    position: absolute;
    right: 0;
    width: 1em;
    height: 2em;
    background: white;
  }

.price{
    margin: 10px;
}

.graduation{
    margin: 10px;
}

.priceGraduation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.scoreZone{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    width: 250px;
}

#imagenSugerencia{
    width: 160px;
    height: 180px;
    border: 2px solid rgb(147, 147, 147);
    margin: 10px;
}

@media only screen and (max-width: 400px){

    .home-container{
        margin-top: 10px;
        height: 100px;
        width: 100px;
        margin-top: 10px;
    }

    .subheader{
        font-size: 20px;
    }

    .news{
        margin-top: 10px;
        flex-direction: column;
    }

    #novedadesCerveza{
        display: none;
    }

    .columnas{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        flex-direction: column;
    }

    #novedadesCerveza{
        display: none;
    }

    .columnas{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sugerencias{
        justify-content: center;

    }

    .tarjeta{
        display: flex;
        flex-direction: column;
        width: 400px;
        height: 370px;
    }

    .imageCenter{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #imagenSugerencia{
        box-shadow: 10px 5px 5px rgb(210, 209, 209);
    }

    .name{
        text-align: center;
    }

    .description{
        display: none;
    }

}