.home-container{
  text-align: center;
}

.header{
  color: orangered;
  font-size: 50px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 600;

}
.news{
  background-color: orangered;
  color: rgb(250, 219, 216);
  font-size: 50px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.subheader{
  margin-left: 10px;
  color: rgb(169, 34, 0);
  font-size: 50px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
