.general{
  padding-left: 30%;
  padding-right: 30%;
  text-align: center;
}


.header{
  color: rgb(79, 24, 3);
  font-size: 50px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.subheader{
  
  background-color: rgb(199, 198, 198);
  border-color: rgb(199, 198, 198);
  border-style: solid;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100%;
  text-align: center;
}

.newProducts{
display: flex;
justify-content: space-around;
width: 100%;
}
.newProducts a{
  justify-content: space-between;
  border-style: solid;
  padding: 20px;
}
.newProducts img{
  border-style: solid;
  padding: 10px;
  width: 200px;
  height: 200px;
  border-radius: 10%;
}

.headerMarcas{
  text-align: center;
}
.brands{
  
  background-color: aqua;
  height: 70px;
  width: 100px;
  overflow: hidden;
  
}

.image img{
  object-fit: cover;
  max-width:100%;
  max-width: 100%;

}



